@{
    ViewData["Title"] = "Datastar dotnet";
}

<div data-signals="{'input':'','output':''}">
    <h2>Get Fragment</h2>
    <p>Make a GET request to the <code>/displaydate</code> controller endpoint and merge HTML fragment response into <code>#target</code></p>
    <article>
        <section>
            <button data-on-click="@@get('/displayDate')">Display Date</button>
        </section>

        <div id="target">Date will be returned here...</div>
    </article>

    <h2>Post Signals</h2>
    <p>POST Signals to the <code>/changeoutput</code> controller endpoint and merge Signals from response</p>

    <article>
        <fieldset role="group">
            <input type="text" placeholder="Enter text and click submit" data-bind-input />
            <button data-on-click="@@post('/changeoutput')" data-attr-disabled="$input === ''">Submit</button>
        </fieldset>
        <div>
            Your input: <strong data-text="$output"></strong>
        </div>
    </article>
</div>